<!DOCTYPE html>

<html lang="pt-br">

<head>

<title>Codando PHP · Gustavo Fraga</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="description" content="Codando PHP · Gustavo Fraga">
<meta name="author" content="Gustavo Fraga">

<link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">

<link rel="stylesheet" href="../../resources/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="../../resources/css/owl.carousel.min.css">
<link rel="stylesheet" href="../../resources/css/owl.theme.default.min.css">
<link rel="stylesheet" href="../../resources/fonts/icomoon/style.css">
<link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
<link rel="stylesheet" href="../../resources/css/aos.css">
<link rel="stylesheet" href="../../resources/css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <div class="site-logo mr-auto w-25"><a href="/">Codando PHP</a></div>
      <!--
      <div class="ml-auto w-25">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
            <li class="cta"><a href="#" class="nav-link"><span>Faça uma Doação</span></a></li>
          </ul>
        </nav>
        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
      </div>
      -->
    </div>
  </div>
</header>
